/** style.less
 *  Created by Richard Bennett
 *  v1.0.0
 */

// LESS Prefixer :: http://lessprefixer.com
@import "prefixer.less";
@import "../less/europa.less";

// variables & mixins

	// typography

		@typeMainFamily: 'Europa', 'AvenirNext', 'Avenir Next', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
		@typeHeaderFamily: ;

	// colour

		@colourMain: rgba(34,34,34,1);
		@colourTint: rgba(245,61,135,1);

	// debug

		.g05 {
			background-color: rgba(0,0,0,0.05);
		}
		.g10 {
			background-color: rgba(0,0,0,0.1);
		}

	// animations

		@timing-function: cubic-bezier(.17,.67,.27,1);
		.animate(@du:300ms,@de:0ms){
			transition: all @du @timing-function @de;
		}

// typography

	html {
		font-family: @typeMainFamily;
		font-weight: 300;
		font-size: 10px;
		color: @colourMain;
		margin: 0px; padding: 0px;
		body {
			margin: 0px; padding: 0px;
			font-family: inherit;
			font-size: 1.7rem;
		}
	}

	section {
		font-size: 2.87em;
		line-height: 1.38em;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		p {
			margin: 3vh 13vw;
			&.small {
				font-size: 0.65em;
				line-height: 1.25em;
			}
		}
		.quote {
			font-size: .75em;
			font-weight: 400;
			opacity: 0.87;
		}
		.brand {
			font-weight: 600;
			letter-spacing: 0.137em;
		}
		.heroText {
			line-height: 1.38em;
			@media screen and (min-width: 977px) {
				font-size: 1.1em;
			}
			@media screen and (max-width: 976px) {
				font-size: 0.88em;
			}
			@media screen and (max-width: 765px) {
				font-size: 0.68em;
			}
			.main {
				// primary hero header
				font-weight: 600;
			}
		}
	}

	// global call-to-action definition
	.c2a {
		position: relative;
		display: inline-block;
		font-size: 1.74rem;
		font-weight: 400;
		letter-spacing: 0.117em;
		text-transform: uppercase;
		line-height: 1.5;
		padding: 1rem 0rem;
		cursor: pointer;
		.animate(500ms,0ms);
		&:after {
			content: "";
			//display: inline-block;
			position: absolute;
			top: -0.5em;
			left: -1.5em;
			bottom: -0.5em;
			right: -1.5em;
			border: 2px solid @colourTint;
		}
		&:hover {
			.scale(0.97);
		}
	} 

// classes

	.hidden {
		display: none !important;
	}
	.restrict960 {
		display: block;
		margin: 0px auto;
		max-width: 960px;
	}

// layout
	html, body {
		height: 100%;
	}
	section {
		position: relative;
		height: 100%;
		text-align: center;
		//.g05;
		&.hero {
			height: 100%;
			background-color: rgba(255,255,255,0.57);
			.brand {
				position: absolute;
				top: 25%;
				left: 10%;
				right: 10%;
				img {
					width: 30vw;
					@media screen and (max-width: 976px) {
						width: 40vw;
					}
					@media screen and (max-width: 765px) {
						width: 50w;
					}
				}
			}
			.heroText {
				position: absolute;
				bottom: 15%;
				left: 10%;
				right: 10%;
				.main {
					margin-bottom: 0.57em;
				}
				.sub {
					margin-bottom: 1.87em;
				}
				.action {}
			}
		}
		.textBlock {
			position: absolute;
			bottom: 10%;
			left: 10%;
			right: 10%;
			@media screen and (min-width: 977px) {
				font-size: 2.1em;
			}
			@media screen and (max-width: 976px) {
				font-size: 1.88em;
			}
			@media screen and (max-width: 765px) {
				font-size: 1.48em;
			}
		}
		.flex-container {
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-wrap: nowrap;
			-ms-flex-wrap: nowrap;
			flex-wrap: nowrap;
			-webkit-justify-content: space-around;
			-ms-flex-pack: distribute;
			justify-content: space-around;
			-webkit-align-content: space-around;
			-ms-flex-line-pack: distribute;
			align-content: space-around;
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center;
			width: 100%; height: 100%;
			&.flex-center {
				-webkit-justify-content: center;
				-ms-flex-pack: center;
				justify-content: center;
				-webkit-align-content: center;
				-ms-flex-line-pack: center;
				align-content: center;
				-webkit-align-items: center;
				-ms-flex-align: center;
				align-items: center;
			}
			&.flex-column {
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
			}
			&.flex-row {
				-webkit-flex-direction: row;
				-ms-flex-direction: row;
				flex-direction: row;
			}

			//flex-item
			.flex-item {
				-webkit-order: 0;
				-ms-flex-order: 0;
				order: 0;
				-webkit-flex: 0 0 auto;
				-ms-flex: 0 0 auto;
				flex: 0 0 auto;
				-webkit-align-self: auto;
				-ms-flex-item-align: auto;
				align-self: auto;
				&.flex-item-single {
					-webkit-flex: 1 1 auto;
					-ms-flex: 1 1 auto;
					flex: 1 1 auto;
				}
				&.flex-item-double {
					-webkit-flex: 2 1 auto;
					-ms-flex: 2 1 auto;
					flex: 2 1 auto;
				}
				&.flex-item-stretch {
					-webkit-align-self: stretch;
					-ms-flex-item-align: stretch;
					align-self: stretch;
				}
			}
		}
	}

// objects

	.c2a {
		color: @colourTint;
	}

// section-specific

	section#vision {
		background-image: url(../img/bg/bg-vision.jpg);
	}